@import "./text-mixins.scss";
@import "./media-mixins.scss";

@mixin formInput {
  @include textBase;
  position: relative;
  width: 100%;
  max-width: 260px;
  outline: none;
  border: 1px solid var(--secondary-color);
  padding: 12.8px 18.75px;
  border-radius: 10px;
  background-color: var(--white-text-color);
  color: var(--grey-dark-active);

  @include forTablet{
    max-width: 310px;
    padding: 13.5px 20px;
  }
  
  @include forLaptop {
    max-width: 350px;
    padding: 15px 25px;
  }
}




::-webkit-input-placeholder {
  @include textBase;
  color: grey;
}

@mixin checkInput {
  width: 14px;
  height: 14px;
  margin: 0;
  margin-right: 5px;
  accent-color: var(--primary-color);
  @include forTablet{
    width: 16px;
    height: 16px;
  }
  
}

@mixin checkLabel{
  @include textSmall;
  color: var(--secondary-color);
  @include forTablet{
    @include textBase;
  }
}