@import "../mixins/media-mixins.scss";
@import "../mixins/text-mixins.scss";

@mixin signCard {
    background-color: var(--white-opacity);
  width: 100%;
  max-width: 300px;
  padding: 35px 25px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  box-shadow: 0px 0px 20px 0px #1461671a;
  margin: 0 auto;
  text-align: center;
  @include forTablet {
    max-width: 450px;
  }
  @include forLaptop {
    max-width: 650px;
  }
}

@mixin signTitle {
  @include textH5SemiBold;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 52px;

  @include forLaptop {
    @include textH3Bold;
    font-weight: 600px;
    margin-bottom: 40px;
  }
}

@mixin signForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 300px;
  @include forTablet {
    max-width: 350px;
  }
  @include forLaptop {
    max-width: 400px;
    gap: 25px;
  }
}

@mixin rule {
  border: none;
  height: 1px;
  max-width: 280px;
  background-color: var(--primary-color);
  margin-bottom: 50px;
  @include forTablet {
    max-width: 350px;
  }
  @include forLaptop {
    max-width: 400px;
  }
}

@mixin reference {
  @include textBase;
  display: flex;
  gap: 5px;
  justify-content: center;
  text-align: center;
  color: var(--primary-color);
  span {
    cursor: pointer;
    @include textBaseSemiBold;
    text-decoration: underline;
  }
}
