@import "styles/mixins/text-mixins.scss";
@import "styles/mixins/media-mixins.scss";

h2 {
  @include textH2;
  text-align: center;
  span {
    @include textH1Bold;
    color: var(--primary-color);
  }
  padding: 50px 0;
  @include forMobile {
    @include textBase;
    span {
      @include textH6Bold;
    }
    padding: 15px 0;
  }
}

.tripsList {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  @include forMobile {
    gap: 4px;
  }
  @include forTablet{
    gap: 12px;
  }
  @include forLaptop{
    gap: 20px;
  }
  @include forLaptopLarge{
    gap: 30px;
  }
}


