@import "styles/mixins/text-mixins.scss";
@import "styles/mixins/media-mixins.scss";

h2 {
  @include textH2;
  text-align: center;
  span {
    @include textH1Bold;
    color: var(--primary-color);
  }
  margin: 50px auto;
  @include forMobile {
    @include textBase;
    span {
      @include textH6Bold;
    }
    margin: 15px auto;
  }
}

.tripsList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  @include forMobile {
    gap: 4px;
  }
  @include forTablet{
    gap: 12px;
  }
}


