@import "styles/mixins/text-mixins.scss";
@import "styles/mixins/media-mixins.scss";

h2 {
  @include textBase;
  text-align: center;
  span {
    @include textH6Bold;
    color: var(--primary-color);
  }
  padding: 15px 0;
  @include forLaptop {
    @include textH2;
    span {
      @include textH1Bold;
    }
    padding: 50px 0;
  }
}

.tripsList {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 4px;

  @include forTablet {
    gap: 12px;
  }
  @include forLaptop {
    gap: 20px;
  }
  @include forLaptopLarge {
    gap: 30px;
  }
}
