@import "styles/mixins/text-mixins.scss";
@import "styles/mixins/media-mixins.scss";

.linksList {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: fit-content;
  list-style: none;
  translate: 0 8px;
  gap: 20px;

  @include forTablet {
    gap: 30px;
  }

  @include forLaptop {
    flex-direction: row;
    align-items: center;
    height: 80px;
    gap: 1.5rem;
  }
}

.link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 30px;

  a {
    @include textBaseSemiBold;
    height: fit-content;
    text-decoration: none;
    color: var(--grey-darker);

    text-align: end;
    @include forLaptop {
      @include textH6;
      text-align: center;
      translate: 0 -8px;
    }
  }

  @include forLaptop {
    padding: unset;
  }
}

.active {
  border-right: 3px solid;
  a {
    @include textH6Bold;
    font-weight: 600;
  }
  @include forLaptop {
    border: none;
    border-bottom: 3px solid;
  }
}
