@import "styles/mixins/text-mixins.scss";
@import "styles/mixins/media-mixins.scss";

.card {
  position: relative;
  width: 193px;
  height: 143px;
  padding: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  // background-image: url(../../../../public/assets/images/TripDetails/worldMap.png);
  // background-size: contain;
  // background-position: right;
  // background-repeat: no-repeat;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px 0px #27959e26;

  @include forTablet {
    width: 320px;
    height: 203px;
    padding: 25px;
  }
  @include forLaptop {
    margin-top: 45px;
    padding: 30px 60px;
    width: 480px;
    height: 314px;
  }
  @include forLaptopLarge {
    margin-top: 45px;
    padding: 30px 60px;
    width: 580px;
    height: 314px;
  }
}
.worldMapIcon {
  position: absolute;
  right: 0;
  top: 26px;
  width: 130px;
  height: 75px;

  @include forTablet{
    top: 56px;
    width: 210px;
    height: 135px;
  }
  @include forLaptop{
    top: 66px;
    width: 355px;
    height: 225px;
  }
  
  @include forLaptopLarge {
    top: 48px;
    width: 450px;
    height: 278px;
  }
}

.cardTitle {
  display: flex;
  gap: 2px;
  width: fit-content;
  align-items: last baseline;
  h6 {
    @include textXS;
    color: var(--grey);
  }
  h3 {
    @include textLBold;
  }
  margin-bottom: 10px;

  @include forTablet {
    gap: 10px;

    h6 {
      @include textBase;
    }
    h3 {
      @include textH5Bold;
    }
    margin-bottom: 20px;
  }
  @include forLaptop {
    gap: 14px;

    h6 {
      @include textH6;
    }
    h3 {
      @include textH3Bold;
    }
    margin-bottom: 30px;
  }
}

.schedule {
  position: relative;
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 3px;
  @include forTablet {
    gap: 18px;
  }
  @include forLaptop {
    gap: 36px;
  }
}

.scheduleRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  @include forTablet {
    gap: 75px;
  }
  @include forLaptop {
    gap: 90px;
  }
}
.textCol {
  display: flex;
  flex-direction: column;
  gap: 5px;
  h6 {
    @include textXS;
  }
  p {
    @include textXS;
    color: var(--grey);
  }

  @include forTablet {
    gap: 8px;
    h6 {
      @include textLSemiBold;
    }
    p {
      @include textBase;
    }
  }
  @include forLaptop {
    gap: 12px;
    h6 {
      @include textH6;
    }
    p {
      @include textL;
    }
  }
}

.roadMapIcon {
  display: block;
  background: url(../../../../public/assets/images/TripDetails/roadMapVector.svg);
  background-size: contain;
  background-position: center;
  width: 13px;
  height: 92px;

  @include forTablet {
    width: 24px;
    height: 151px;
  }
  @include forLaptop {
    height: 181px;
  }
}
