@import "styles/mixins/text-mixins.scss";
@import "styles/mixins/media-mixins.scss";

.listsContainer {
  display: flex;
  padding: 30px 30px 0px 0px;
  flex-direction: column;
  gap: 20px;

  ul {
    width: 100%;
    text-transform: capitalize;
    padding: 0;
    text-align: left;
    padding: 4px 10px;
    border-bottom: 2px solid;
    margin: 0;
    h6 {
      @include textBaseSemiBold;
    }
    li {
      display: none;
    }
  }

  @include forTablet {
    margin: 0 auto;
    width: 70%;
    ul {
      h6 {
        @include textLSemiBold;
      }
    }
  }
  @include forLaptop {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    padding-bottom: 85px;
    gap: 100px;

    ul {
      width: unset;
      border-bottom: none;
      h6 {
        @include textH6SemiBold;
        margin-bottom: 20px;
      }
      li {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        a {
          @include textL;
          color: var(--dark-text-color);
          margin-bottom: 4px;
          text-decoration: none;
          text-wrap: nowrap;
        }
      }
    }
  }
  @include forLaptopLarge {
    gap: 140px;
  }
}
