.speedSection{
    padding: 8rem 5rem;
}

.contentContainer{
    position: relative;
    display: flex;
    gap: 5rem;
    align-items: center;
}

.backIcon{
    position: absolute;
    width: 10.625rem;
height: 5.75rem;
    background: url(../../images/backgrounds/IMAGEspeed.jpg);
    background-size: contain ;
    background-repeat: no-repeat;
    top: 0;
    right: -3rem;
}