@import "styles/mixins/text-mixins.scss";
@import "styles/mixins/media-mixins.scss";

.list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px 0;
  flex-direction: column;

  @include forLaptop {
    padding-top: 50px;
    flex-direction: row;
  }
}

.listItem {
  display: flex;
  @include textL;
  width: 100%;
  align-items: center;
  gap: 20px;
  @include forLaptop {
    width: unset;
    flex-direction: column;
  }
}

.icon {
  display: flex;
  justify-content: center;
  padding: 8px;
  background-color: var(--white-text-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  img {
    width: 18px;
    height: 18px;
  }

  @include forLaptop {
    padding: 19px 22px;
    img {
      width: 32px;
      height: 32px;
    }
  }
}
