@import '../../../styles/mixins/text-mixins';


.textContainer{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    width: 37.5rem;
    height: 30.375rem;
}