@import "../../../../styles/variables.scss";

.socialLink {
  border-radius: 50%;
  padding: 0.5rem;
  background-color: $primary-green;
  margin: 0;
  height: 1.5rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.socialLinks {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;

  gap: 0.5rem;
}
