@import "styles/mixins/media-mixins.scss";

.imgFrame {
  position: fixed;
  background-color: var(--primary-color);
  padding: 14px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 85%;
  right: 20px;
  z-index: 1;
  cursor: pointer;

  @include forMobile {
    top: 32%;
    right: 2px;
    padding: 10px;
    img {
      width: 23px;
      height: 23px;
    }
  }
  @include forTablet {
    img {
      width: 28px;
      height: 28px;
    }
  }
}
