@import "styles/mixins/media-mixins.scss";

footer {
  width: 100%;
  background-color: var(--secondary-color);
}

.rule {
  display: none;
  @include forLaptop {
    display: block;
    width: 100%;
    max-width: 1200px;
    height: 0.1px;
    margin: 50px auto;
    background-color: var(--white-text-color);
  }
}

.flexContainer {
  display: flex;
  flex-direction: column-reverse;
  @include forLaptop {
    flex-direction: column;
  }
  @include forLaptopLarge{
    flex-direction: column;
  }
}
