@import "styles/mixins/text-mixins.scss";
@import "styles/mixins/media-mixins.scss";

.listsContainer {
  margin-bottom: 42px;
  @include forMobile {
    margin-bottom: 50px;
  }
  @include forTablet {
    margin-bottom: 50px;
  }
}

.listsContainer:nth-child(2) {
  margin-top: 30px;
}
