@import "styles/mixins/text-mixins.scss";
@import "styles/mixins/media-mixins.scss";

.listsContainer {
  width: fit-content;
  padding-bottom: 50px;
  margin: 0 auto;

  @include forLaptop {
    padding-bottom: 42px;
    max-width: 1450px;
  }
}

.listsContainer:nth-child(2) {
  padding-top: 30px;
}
