@import "styles/mixins/media-mixins.scss";

.mediaSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;

  @include forTablet {
    gap: 50px;
  }
  @include forLaptop {
    gap: 100px;
  }
}

.mainImgContainer {
  position: absolute;
  width: 331px;
  height: 207px;
  left: 10px;
  z-index: -1;
  border-radius: 10px;

  background-size: cover;

  @include forTablet {
    width: 80%;
    height: 380px;
    left: 20px;
  }

  @include forLaptop {
    width: 880px;
    height: 550px;
    left: 30px;
  }
}

.secondaryImgContainer {
  position: relative;
  display: flex;
  align-items: last baseline;
  justify-content: space-evenly;
  width: 100%;
  padding-left: 0 10px;
  translate: 0 -15px;
  gap: 10px;
  margin: 0 auto;
  @include forTablet {
    translate: 0 5px;
  }
  @include forLaptop {
    width: 100vw;
    translate: 0;
  }
  @include forLaptopLarge {
    translate: -30px -30px;
  }
}

.secondaryImg {
  cursor: pointer;
  width: 86px;
  height: 55px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  box-shadow: 0px 0px 20px 0px #1461671a;

  @include forTablet {
    width: 166px;
    height: 105px;
  }
  @include forLaptop {
    width: 240px;
    height: 140px;
  }
  @include forLaptopLarge {
    width: 320px;
    height: 200px;
  }
}

.btnContainer {
  width: 300px;
  margin: 0 auto;
  @include forLaptop {
    width: 400px;
  }
}
