@import "styles/mixins/media-mixins.scss";

.mediaSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 100px;

  @include forMobile {
    gap: 8px;
  }
  @include forTablet {
    gap: 50px;
  }
}

.mainImgContainer {
  position: absolute;
  width: 880px;
  height: 550px;
  left: 30px;
  z-index: -1;
  background-size: cover;
  @include forMobile {
    width: 331px;
    height: 207px;
    left: 10px;
    
  }
  @include forTablet {
    width: 80%;
    height: 380px;
    left: 20px;
    
  }
}

.secondaryImgContainer {
  position: relative;
  display: flex;
  align-items: last baseline;
  justify-content: space-evenly;
  padding: 0 20px;
  width: 100%;
  @include forMobile {
    margin: auto;
    padding: 0 10px;
    translate: 0 -15px;
  }
  @include forTablet {
    margin: auto;
    padding: 0 10px;
    translate: 0 5px;
  }
}

.secondaryImg {
  width: 320px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  box-shadow: 0px 0px 20px 0px #1461671a;

  @include forMobile {
    width: 86px;
    height: 55px;
  }
  @include forTablet{
    width: 166px;
    height: 105px;
  }
}

.btnContainer {
  width: 400px;
  margin: 0 auto;
  @include forMobile {
    width: 300px;
  }
}


