@import "styles/mixins/text-mixins.scss";
@import "styles/mixins/media-mixins.scss";

.tripsList {
  box-sizing: content-box;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: fit-content;
  margin-inline: auto;
  gap: 1rem;
  @include forMobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 10px;
  }
  @include forTablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 13px;
    width: fit-content;
  }
}

.title {
  @include textH4Bold;
  color: var(--primary-color);
  text-align: left;
  @include forMobile {
    @include textLSemiBold;
    margin-top: 20px;
  }
}
