@import "styles/mixins/text-mixins.scss";
@import "styles/mixins/media-mixins.scss";

.tripsList {
  box-sizing: content-box;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
  padding: 0;

  margin-inline: auto;
  @include forTablet {
    gap: 13px;
    width: fit-content;
  }
  @include forLaptop {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.title {
  @include textLSemiBold;
  margin-top: 20px;
  color: var(--primary-color);
  text-align: left;
  @include forLaptop {
    @include textH4Bold;
  }
}
