@import "styles/mixins/text-mixins.scss";
@import "styles/mixins/media-mixins.scss";

.overflow {
  position: fixed;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  top: 0;
  overflow: hidden;
}

.menuBody {
  overflow: hidden;
  height: 100%;
  width: 74%;
  background-color: var(--white-text-color);

  @include forTablet {
    width: 64%;
  }
  animation: openingMenu 1s ease-in-out;
  -webkit-animation: openingMenu 1s ease-in-out;
}

.closeIcon {
  padding: 0;
  width: fit-content;
  margin-left: auto;
  padding: 16px 16px 44px 0px;
}

.btnLogOut {
  @include textLSemiBold;
  color: var(--red-dark-hover);
  border: none;
  background-color: var(--grey-Light-very);
  width: fit-content;
  padding: 12px 56px;
  border-radius: 7px;
  margin: 40px auto;
}

@keyframes openingMenu {
  from {
    translate: -100% 0;
  }
  to {
    translate: 0 0;
  }
}
