@import "styles/mixins/text-mixins.scss";
@import "styles/mixins/media-mixins.scss";

.btnFilter {
  @include textBase;
  border-bottom: 2px solid var(--tertiary-color);
  padding-bottom: 2.5px;

  background: none;
  border: none;
  cursor: pointer;
  max-height: 53px;

  @include forTablet {
    @include textBaseSemiBold;
    padding-bottom: 20px;
  }
  @include forLaptop {
    @include textH6;
    border-bottom: 3px solid var(--tertiary-color);
    padding-bottom: 40px;
  }
}

.btnFilter:hover {
  color: var(--primary-color);
}

.active {
  @include textLSemiBold;
  padding-bottom: 1px;
  color: var(--primary-color);
  border-color: var(--primary-color);
  @include forLaptop {
    @include textH6SemiBold;
    padding-bottom: 40px;
  }
}
