
@mixin btnTextBold {
  color: var(--primary-dark);
  font-size: var(--font-xs);
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  text-align: center;
}

@mixin btnTextRegular {
  @include btnTextBold;

  color: var(--primary-grey);
  font-weight: 400;
  font-size: var(--font-xs);
}

@mixin defaultBtn {
  border-radius: 4rem;
  border: 2px solid var(--primary-dark);
  background-color: transparent;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  color: var(--primary-dark);

  @include btnTextBold;
}
