@import "styles/mixins/text-mixins.scss";
@import "styles/mixins/media-mixins.scss";

.content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.headline {
  @include textSmall;
  position: relative;
  text-wrap: wrap;
  width: unset;
  height: unset;
  text-align: left;
  padding-top: 20px;

  span {
    @include textBaseBold;
  }

  @include forTablet {
    @include textH5;

    text-align: center;
    padding-top: 50px;
    span {
      @include textH4Bold;
    }
  }

  @include forLaptop {
    @include textH4;
    font-size: 28px;
    text-align: center;
    width: 100%;
    max-width: 1111px;
    height: 114px;
    padding-top: 50px;

    span {
      @include textH3Bold;
      font-weight: 600;
      font-size: 38px;
    }
  }
}
