@import 'styles/mixins/text-mixins.scss';


.content{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 20px
}

.headline{
  @include textH4;
  position: relative;
  font-size: 28px;
  text-align: center;
  width: 1111px;
  height: 114px;
  margin: 50px auto;

  span{
    @include textH3Bold;
    font-weight: 600;
    font-size: 38px;
  }
}

@media screen and (max-width:490px) {
  .headline{
    @include textSmall;
    text-wrap: wrap;
    width: unset;
    height: unset;
    text-align: left;

    span{
      @include textBaseBold;
    }
  }
}