@import "styles/mixins/input-mixin.scss";
@import "styles/mixins/sign-mixin.scss";
@import "styles/mixins/text-mixins.scss";
@import "styles/mixins/media-mixins.scss";

.signCard {
  @include signCard;
}

.signTitle {
  @include signTitle;
}

.signUp {
  @include signForm;
}

.checkLabel {
  @include checkLabel;
}



.genderContainer {
  display: flex;
  align-items: center;

  gap: 20px;
  p {
    @include textLBold;
    color: var(--primary-color);
    @include forTablet {
      @include textH6Bold;
    }
  }
}

.policyContainer {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rule {
  @include rule;
}

.reference {
  @include reference;
}

.hidden{
  display: none;
}
