@import "../../styles/mixins/media-mixins.scss";

.authPage {
  background: url(../../../public/assets/images/shared/signBackground.svg)
    no-repeat center;
  background-size: contain;
}
.authContainer {
  // position: relative;
  padding: 20px 10px;
  @include forTablet {
    padding: 30px 20px;
  }
  @include forLaptop {
    padding: 35px;
  }
}
