@import "styles/mixins/text-mixins.scss";
@import "styles/mixins/media-mixins.scss";

.detailsSection {
  padding: 20px;
  padding-top: 30px;
  @include forTablet {
    padding: 30px;
    padding-top: 40px;
  }
  @include forLaptop {
    padding-top: 50px;
  }
}

.textContainer {
  position: relative;
  max-width: 870px;
  margin-inline: auto;
}
.title {
  @include textLSemiBold;
  width: fit-content;
  @include forTablet {
    @include textH4Bold;
  }
  @include forLaptop {
    @include textH2Bold;
  }
}

.description {
  @include textBase;
  margin-bottom: 20px;
  text-align: left;
  @include forLaptop {
    @include textL;
    margin-bottom: 28px;
  }
}

.tripPoint {
  max-width: 816px;
  margin-bottom: 20px;
  h6 {
    @include textBase;
    font-weight: 500;
    margin-bottom: 5px;
  }
  p {
    @include textBase;
  }
  @include forLaptop {
    margin-bottom: 48px;
    h6 {
      @include textH6SemiBold;
    }
  }
}
.tripPoint:last-of-type {
  margin-bottom: 5px;
}

.conclusion {
  @include textBase;
}

.vector {
  position: relative;
  float: left;
  max-height: 490px;
  height: 100vh;
  width: 6px;
  margin: 35px 16px 30px 20px;
  overflow: hidden;
  background: url(../../../public/assets/images/TripDetails/detailTripVectorMobile.svg);
  background-position: center;
  background-size: contain;
  
  // img {
    //   height: 490px;
    // }
    @include forTablet {
      background: url(../../../public/assets/images/TripDetails/detailTripVector.svg);
      margin: 20px 16px 20px 10px;
      max-height: 340px;
    }
    @include forLaptop {
      img {
        height: unset;
      }
      
      margin: 35px 33px 40px 21px;
      max-height: 340px;
    }
  }
