@import "../../../styles/mixins/text-mixins";

.formInput {
  padding: 0.75rem 2.6rem;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  max-width: 23rem;
  background-color: #fff;

  @include regularText;
  font-weight: 700;
  text-align: start;
  color: var(--primary-dark);
}

.formInput::placeholder {
  @include regularText;
  font-weight: 700;
  text-align: left;
  color: var(--primary-dark);
}
