@import '../../styles/variables.scss';
@import '../../styles/mixins/btn_mixins';


.btnForm {
  @include defaultBtn;
  background-color: $primary-dark;
  color: #fff;
}

.btnBlog{
    @include defaultBtn;
}

.btnHero {
  @include defaultBtn;

  background-color: $primary-green;
  border: 2px solid $primary-green;
  padding: 0.88rem 2.62rem;
}