@import 'styles/mixins/text-mixins.scss';

form {
  padding: 19px;
  width: 675px;
  max-height: 91px;

  box-shadow: 0px 0px 20px 0px #1461671A;
  margin: 0 auto;
  border-radius: 120px;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  -ms-border-radius: 120px;
  -o-border-radius: 120px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.inputColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  label{
    @include textLBold;
    font-weight: 500;
  }

}

input{
    border: none;
    outline: none;
    @include textBase;
}

// input::placeholder{
//     // @include textBase;
    
// }


select{
    @include textBase;
    border: none;
    outline: none;
    color: var(--gray);
    option{
        @include textBase;
        color: var(--gray);

    }
}

.searchBtn {
  border: none;
  display: grid;
  place-items: center;
  width: 73px;
  height: 49px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: var(--primary-color);
  img {
    margin-top: calc(50% - 24px);
  }
  cursor: pointer;
}

.searchBtn:hover{
    opacity: 90%;
}

.dividingLine{
    width: 29px;
    // height: 15px;
    rotate: 90deg;
    border: 1px solid #C4C4C4
}

@media  screen and (max-width:490px) {
  form{
    display: none;
  }
}