.imageContainer{
    position: relative;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    width: 37.5rem;
    height: 37.5rem;
    background-size: cover;
    background: lightgray 50%;
}