@import "styles/mixins/text-mixins.scss";
@import "styles/mixins/media-mixins.scss";

.nested {
  @include textSmall;
  padding: 0;
  @include forLaptop {
    @include textBaseSemiBold;
    padding: 7px 20px;
  }
}

.fullSize {
  @include textLSemiBold;
  width: 100%;
  max-width: 400px;
  height: 55px;
}

.outlined {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary-color);

  @include forLaptop {
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
}

.filled {
  border: 2px solid var(--primary-color);
  color: var(--white-text-color);
  border-radius: 10px;
  background-color: var(--primary-color);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.outlined:hover {
  background-color: transparent;
  color: var(--primary-color);
  @include forLaptop {
    border: 2px solid var(--primary-color);
    color: var(--white-text-color);
    border-radius: 10px;
    background-color: var(--primary-color);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}

.filled:hover {
  @extend .outlined;
}
