@import "./main.scss";

body {
  color: var(--primary-white);
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0rem;
  background-color: transparent;
}

