$primary-dark: #162E3C;
$primary-green: #DDF0A7;
$primary-grey: #49616E;
$font-xl: 3rem;
$font-l: 2.5rem;
$font-m: 1.5rem;
$font-s: 1.125rem;
$font-xs: 1rem;



body{
    color: #fff;
    font-family: 'Space Grotesk';
    margin: 0;
    padding: 0;
}