@import "styles/mixins/text-mixins.scss";
@import "styles/mixins/media-mixins.scss";

.googleBtn {
  @include textBaseSemiBold;
  width: 100%;
  max-width: 300px;
  padding: 12px 0;
  text-align: center;
  background: url(../../../public/assets/icons/shared/google.svg) center left no-repeat
    #ffff;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  margin: 0 auto;

  @include forLaptop {
    max-width: 400px;
    padding: 14px 0;
  }
}
