@import "styles/mixins/text-mixins.scss";
@import "styles/mixins/media-mixins.scss";

.card {
  position: relative;
  width: 280px;
  max-width: 340px;
  height: 340px;
  border-radius: 20px;
  margin: 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0px 0px 15px 0px #0f4e461a;
  padding: 20px;
  @include forMobile {
    width: 160px;
    height: 226px;
    padding: 10px;
  }
  @include forTablet {
    width: 260px;
    height: 300px;
    padding: 15px;
  }
  @include forLaptop {
    width: clamp(220px, 250px, 280px);
  }
  @include forLaptopLarge{
    width: 280px;
  }
}

.content {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
}

.titleColumn {
  h5 {
    @include textH5Bold;
    margin: 0;
    margin-bottom: 8px;
  }
  p {
    @include textBase;
    color: var(--grey);
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 0;
  }
  @include forMobile {
    h5 {
      @include textLSemiBold;
      margin-bottom: 2px;
    }
    p {
      @include textSmall;
    }
  }
  @include forTablet {
    h5 {
      @include textH6SemiBold;
      margin-bottom: 2px;
    }
    p {
      @include textBase;
    }
  }
}

.imageContainer {
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position: center;
  @include forMobile {
    width: 160px;
    height: 90px;
  }
  @include forTablet {
    width: 100%;
    height: 140px;
  }
}

.priceContainer {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  @include forMobile {
    flex-direction: column;
    align-items: end;
    gap: 15px;
  }
  @include forTablet {
    flex-direction: column;
    align-items: end;
    gap: 10px;
  }
}

.priceColumn {
  p {
    @include textL;
    font-size: 16px;
    color: var(--grey);
    margin: 0;
    margin-bottom: 4px;
  }
  h5 {
    @include textH5Bold;
    margin: 0;
  }
  @include forMobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    p {
      @include textBase;
      margin: unset;
    }
    h5 {
      @include textLSemiBold;
    }
  }
  @include forTablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    p {
      @include textL;
      margin: unset;
    }
    h5 {
      @include textH6SemiBold;
    }
  }
}
