@import '../../styles/variables.scss';
@import '../../styles/mixins/text-mixins';

.messageContainer{
    background-color: $primary-green;
    display: flex;
    align-items: center;
    padding: 0 4.5rem
}

.messageText{
    @include regularText;
    color: $primary-dark;
    margin-inline:auto ;
}

.closeIcon{
    background: url(../../assets/icons/Message/closeIcon.jpg);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}