@import '../../styles/mixins/text-mixins';

.messageContainer{
    background-color: var(--primary-green);
    display: flex;
    align-items: center;
    padding: 0 4.5rem
}

.messageText{
    @include regularText;
    color: var(--primary-dark);
    margin-inline:auto ;
}

.closeIcon{
    background: url(../../../public/assets/icons/Message/closeIcon.jpg);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}