@import "styles/mixins/text-mixins.scss";
@import "styles/mixins/media-mixins.scss";

.buttonContainer {
  width: fit-content;
  padding: 50px 0;
  @include forMobile {
    padding: 0;
  }
  @include forTablet{
    scale: 1.3;
  }
}
